@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
}

body {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.navigation-link, .breadcrumbs-link  {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.product-card-link, .footer-link {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.main-text, .services-more, .about-us-title, .contacts-title,
 .title-subscribe-newsletter, .inner-header-title {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  background-color: #ffffff;
}

.services, .subscribe {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}

.about-us, .button-feedback {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.more-detailed {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.characteristic {
  font-family: "rubik", sans-serif;
  font-size: 36px;
  line-height: 30px;
  background-color: #ffffff;
}

.products{
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffffff;
}

.information-delivery {
  font-family: "raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  background-color: #ffffff;
}

.title-internet-magazine, .contacts-subtitle {
  font-family: "rubik", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  background-color: #ffffff;
}

.about-us-item {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  background-color: #ffffff;
}

.footer-contacts-address-phone, .catalog-filter-title, .product-card-title {
  font-family: "rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
}

.filters, .sorting, .button-pagination-show-more {
  font-family: "raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  background-color: #ffffff;
}

.button-show {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.product-card-price {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #ffffff;
}
